" Interface
set number
set so=7

" Search
set incsearch
set hlsearch
set ignorecase
set smartcase

" Allows copy between rider and system clipboards
set clipboard=unnamed
set clipboard+=ideaput

" Rider specific functionality
nmap gd :action GoToDeclaration<CR>
nmap gi :action GoToImplementation<CR>
